@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Settings</h2>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li><a href="#">Top Banner</a></li>
        <li><a href="#">Bottom Banner</a></li>
    </ul>
</div>
